<%- include('header.ejs') %>
<body class="d-flex flex-column">
    <div id="page-content">
        <script>
            window.onload = () => {
                const urlParams = new URLSearchParams(window.location.search);
                let content = decodeURIComponent(urlParams.get('content'));
                document.getElementById('noteContent').innerText = content;
            }
        </script>
        <div class="container pt-5">
            <p class="text-center" id="noteContent">
            </p>
        </div>
    </div>
</body>