<%- include('header.ejs') %>
<body class="d-flex flex-column">
    <div id="page-content">
        <div class="container pt-5">
            <h3>Enter Passcode to read note <%=noteId%></h3>
            <form method="GET" action="/read">
                <div class="mb-3">
                    <label for="passCode" class="form-label">Passcode</label>
                    <input type="text" class="form-control" id="passCode" name="passCode" placeholder="Passcode to read your note">
                </div>
                <input type="text" id="noteId" name="noteId" value="<%=noteId%>" hidden>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Read note</button>
                </div>
            </form>
        </div>
    </div>
</body>